<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Games</title>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" href="/app.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300&display=swap" rel="stylesheet">
</head>

<body>

    <!-- Messenger Chat plugin Code -->
    <div id="fb-root"></div>

    <!-- Your Chat plugin code -->
    <div id="fb-customer-chat" class="fb-customerchat">
    </div>

    <script>
        var chatbox = document.getElementById('fb-customer-chat');
        chatbox.setAttribute("page_id", "276928969698805");
        chatbox.setAttribute("attribution", "biz_inbox");

        window.fbAsyncInit = function () {
            FB.init({
                xfbml: true,
                version: 'v11.0'
            });
        };

        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = 'https://connect.facebook.net/en_US/sdk/xfbml.customerchat.js';
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>


    <h1>Game 1: Foreseen Lotery result</h1>
    <p>We generated a random 2 ditgit number every second from 01/01/2018, then we collected the most frequent time in
        day which gives
        the number that match lotery result in the same day.
    </p>
    <p>Lottery result today: the number show up from 14:49:59 to 14:50:01 today</p>
    <h2 id="game1">Random: now!</h2>

    <h1>Game 2: Freedom of Statement</h1>

    <form action="">
        <input type="text" name="name" placeholder="Enter your name">
        <input type="text" name="name" placeholder="Enter your name">
        <input type="text" name="name" placeholder="Enter your name">
        <button type="submit"></button>
    </form>

    <ul>
        <%for (let st of statements) {%>
            <li>
                <b>
                    <%= st.name %>
                </b> stated that: <%= st.description %>
            </li>
            <%}%>
    </ul>

    <h1>Game 3: Scam ideas</h1>
    <p> Create fake website sell Axie near-free</p>


    <script src="/logic.js"></script>
</body>

</html>